# Vérification des exigences

Avant de procéder à la soumission, vérifiez encore une fois toutes les exigences du TP.

Vérifiez notamment les points suivants:

- Est-ce que votre carte contient tous les éléments nécessaires (titre, sous-titre, légende, sources, maillage spatial, etc.) ?

- Est-ce que votre fichier contient uniquement les calques strictement nécessaires ? Avez-vous enlevé le calque avec l'image PNG du fond de carte (donc supprimé et non pas seulement caché) ?

- Soumettez le fichier Adobe Illustrator (.ai) ainsi qu'une version PDF du même fichier.
